# Query Builder Data Project
___

When a report is scheduled on the BI platform, recipient(s) must be entered. The following information is stored when a report is scheduled: report name, description, subject, mail address, cc, and bcc. The information can be queried and is stored in a very messy data format in excel. The purpose of this script is to do a strategic cleaning to extract all the report information and store it into a uniform table. 

### Import Packages

In [28]:
import pandas as pd
import numpy as np
import os
import re

# change the current working directory 
# to specified path
os.chdir('C:/Users/DDR33/Software/Jupyter/Portfolio/Query Builder')

# FileName
file = 'QueryBuilder.xlsx'

# Read in the excel file
qb = pd.read_excel(file, engine='openpyxl')

# Dataframe the data will be stored in
querybuilder_data = pd.DataFrame(columns=['SI_NAME', 'SI_DESCRIPTION', 'SI_MAIL_SUBJECT', 'SI_MAIL_ADDRESSES', 'SI_MAIL_CC', 'SI_MAIL_BCC', 'SI_MAIL_MESSAGE'])

# Change how many columns are viewed
pd.set_option('display.max_columns', 1000000)
pd.set_option('display.max_rows', 1000000)

qb.head(20)

,Col1,Col2,Col3,Col4,Col5,Col6,Col7
0,SAP BusinessObjects Business Intelligence plat...,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Number of InfoObject(s) returned: 109,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1/109,top,NaN,NaN,NaN,NaN,NaN
8,Properties,NaN,NaN,NaN,NaN,NaN,NaN
9,SI_DESCRIPTION,monthly for Teresa C,NaN,NaN,NaN,NaN,NaN
10,SI_NAME,non-english x active,NaN,NaN,NaN,NaN,NaN
11,Scheduling Info,NaN,NaN,NaN,NaN,NaN,NaN
12,SI_DESTINATIONS,SI_TOTAL,1,NaN,NaN,NaN,NaN
13,NaN,1,SI_DEST_SCHEDULEOPTIONS,SI_SENDER_NAME,NaN,NaN,NaN
14,NaN,NaN,NaN,SI_MAIL_MESSAGE,added 1/4/19 monthly for Teresa C,NaN,NaN
15,NaN,NaN,NaN,SI_MAIL_SUBJECT,%SI_NAME%,NaN,NaN
16,NaN,NaN,NaN,SI_MAIL_ADDRESSES,SI_TOTAL,1,NaN
17,NaN,NaN,NaN,NaN,1,Email1@example.org,NaN
18,NaN,NaN,NaN,SI_MAIL_CC,SI_TOTAL,0,NaN
19,NaN,NaN,NaN,SI_MAIL_BCC,SI_TOTAL,0,NaN

In [29]:
qb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2473 entries, 0 to 2472
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Col1    657 non-null    object
 1   Col2    543 non-null    object
 2   Col3    327 non-null    object
 3   Col4    1090 non-null   object
 4   Col5    1263 non-null   object
 5   Col6    936 non-null    object
 6   Col7    108 non-null    object
dtypes: object(7)
memory usage: 135.4+ KB

### Data Information
___

This is an example of the messy dataframe. The each report will be stored in the **querybuilder_data** dataframe. All the emails have been replaced with **email(number)@example.com** for the purpose of this project.

|Column|Description|
|------|-----------|
|SI_NAME|The name of the report|
|SI_DESCRIPTION|The description of what the report contains|
|SI_MAIL_SUBJECT|The subject of the email that contains the report as an attachment|
|SI_MAIL_ADDRESS|The recipient(s) of the email|
|SI_MAIL_CC|The recipient(s) of the email that are CC'd|
|SI_MAIL_BCC|The recipient(s) of the email that are BCC'd|
|SI_MAIL_MESSAGE|The body of the email|

### Clean Columns

### SI_NAME

Looking at the **qb** table in the first column(**col1**) where it is **SI_NAME**, the name of the report should be in **col2** at the same index. Each report name in **col2** will be stored in the **querybuilder_data** dataframe.

In [30]:
querybuilder_data['SI_NAME'] = qb[qb.iloc[:,0] == 'SI_NAME'].iloc[:,1].reset_index(drop=True)
querybuilder_data.head()

,SI_NAME,SI_DESCRIPTION,SI_MAIL_SUBJECT,SI_MAIL_ADDRESSES,SI_MAIL_CC,SI_MAIL_BCC,SI_MAIL_MESSAGE
0,non-english x active,NaN,NaN,NaN,NaN,NaN,NaN
1,CLT - Child Caseload,NaN,NaN,NaN,NaN,NaN,NaN
2,CRCF- Client Roster by CRCF with Addresses,NaN,NaN,NaN,NaN,NaN,NaN
3,Crosstab - Advoc & SvcAbbrev x month Dillon v2,NaN,NaN,NaN,NaN,NaN,NaN
4,Tx - 05 Transactions by Advoc 1 v2,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
querybuilder_data['SI_NAME'].describe()

count                                  109
unique                                 106
top       Clt - Active Cases with 70 or 71
freq                                     2
Name: SI_NAME, dtype: object

There are 109 listed reports. So, the **querybuilder_data** dataframe should have an indexes between 0-108. Now we can process with getting the rest of the information for each report.

### SI_DESCRIPTION

The description of each report is anywhere in **col1** where **SI_DESCRIPTION** is listed, the the description will be in **col2** on the same index.

In [32]:
querybuilder_data['SI_DESCRIPTION'] = qb[qb.iloc[:,0] == 'SI_DESCRIPTION'].iloc[:,1].reset_index(drop=True)
querybuilder_data.head()

,SI_NAME,SI_DESCRIPTION,SI_MAIL_SUBJECT,SI_MAIL_ADDRESSES,SI_MAIL_CC,SI_MAIL_BCC,SI_MAIL_MESSAGE
0,non-english x active,monthly for Teresa C,NaN,NaN,NaN,NaN,NaN
1,CLT - Child Caseload,Monthly for Kathy,NaN,NaN,NaN,NaN,NaN
2,CRCF- Client Roster by CRCF with Addresses,"Monthly for Christian, Becky Black",NaN,NaN,NaN,NaN,NaN
3,Crosstab - Advoc & SvcAbbrev x month Dillon v2,Monthly for Shawna,NaN,NaN,NaN,NaN,NaN
4,Tx - 05 Transactions by Advoc 1 v2,5th of Month for Roberta,NaN,NaN,NaN,NaN,NaN

### SI_MAIL_SUBJECT

The subject of the email containing the scheduled report is anywhere in **col4** where **SI_MAIL_SUBJECT** is listed. The subject will be on the same index in **col5**.

In [33]:
querybuilder_data['SI_MAIL_SUBJECT'] = qb[qb.iloc[:,3] == 'SI_MAIL_SUBJECT'].iloc[:,4].reset_index(drop=True)
querybuilder_data.head()

,SI_NAME,SI_DESCRIPTION,SI_MAIL_SUBJECT,SI_MAIL_ADDRESSES,SI_MAIL_CC,SI_MAIL_BCC,SI_MAIL_MESSAGE
0,non-english x active,monthly for Teresa C,%SI_NAME%,NaN,NaN,NaN,NaN
1,CLT - Child Caseload,Monthly for Kathy,Monthly - Child Caseload,NaN,NaN,NaN,NaN
2,CRCF- Client Roster by CRCF with Addresses,"Monthly for Christian, Becky Black",Monthly - CRCF by CRCF,NaN,NaN,NaN,NaN
3,Crosstab - Advoc & SvcAbbrev x month Dillon v2,Monthly for Shawna,Monthly - xTab x Advoc & Svc abbr - Dillon,NaN,NaN,NaN,NaN
4,Tx - 05 Transactions by Advoc 1 v2,5th of Month for Roberta,5th of Month - 05 Trans by Advoc 1,NaN,NaN,NaN,NaN

### RECIPIENTS
___
The recipients of the emails containing the scheduled reports is located in **col6** of the **qb** table. Since the recipient could be CC'd or BCC'd also there is a process to separate the emails. For every recipient in **col6** there is a number associated with the email at the same index in **col5**. This will help sort each email.

The **SI_TOTAL** is an important variable. A recipient could be in the main **MAIL_ADDRESS**, **MAIL_CC**, or **MAIL_BCC** category. For each of the categories the **SI_TOTAL** lists how many emails are in each category.

**EXAMPLE**  
SI_NAME: [REPORT_NAME]  
SI_DESCRIPTION: [REPORT_DESCRIPTION]  
SI_MAIL_SUBJECT: [REPORT SCHEDULE EMAIL SUBJECT]  
**SI_MAIL_ADDRESSES:** [REPORT SCHEDULE MAIN RECIPIENTS]  
* SI_TOTAL: 3 (Number of Recipients)  
        1. email  
        2. email  
        3. email

**SI_MAIL_CC** [REPORT SCHEDULE CC'd RECIPIENTS]

* SI_TOTAL: 2 (Number of Recipients)  
        1. email  
        2. email  

**SI_MAIL_BCC:** [REPORT SCHEDULE BCC'd RECIPIENTS]  
* SI_TOTAL: 1 (Number of Recipients)
        1. email  
        
The **recipient type** is another variable that will be used listed in **col4**. In order to properly sort each email by the recipient type with the correct report, the recipient type needs to be listed by each recurring recipient. The code below will add the recipient type to each email like the example below.

**Example**

|Recipient Type   |SI TOTAL|Recipient |
|-----------------|--------|----------|
|SI_MAIL_ADDRESSES|1       |email1    |
|SI_MAIL_ADDRESSES|2       |email2    |                
|SI_MAIL_ADDRESSES|3       |email3    |
|SI_MAIL_CC       |1       |email1    |
|SI_MAIL_CC       |2       |email2    |
|SI_MAIL_BCC      |1       |email1    |

In [35]:
# Filter only for recipients types and keep the null values
recipients = qb[(qb.iloc[:,3] == 'SI_MAIL_ADDRESSES') |
                    (qb.iloc[:,3] == 'SI_MAIL_CC') |
                    (qb.iloc[:,3] == 'SI_MAIL_BCC')|
                    (pd.isna(qb.iloc[:,3]))]

# List the recipient type next to each email
temp_val = ''
temp_index = 0
for i, r in recipients.iterrows():
    
    if r[3] == 'SI_MAIL_ADDRESSES':
        temp_val = r[3]
        temp_index = i
    elif (recipients.loc[temp_index][3] == temp_val) and (r[3] != 'SI_MAIL_CC') and (r[3] != 'SI_MAIL_BCC'):
        r[3] = temp_val
        
    if r[3] == 'SI_MAIL_CC':
        temp_val = r[3]
        temp_index = i
    elif (recipients.loc[temp_index][3] == temp_val) and (r[3] != 'SI_MAIL_ADDRESSES') and (r[3] != 'SI_MAIL_BCC'):
        r[3] = temp_val
        
    if r[3] == 'SI_MAIL_BCC':
        temp_val = r[3]
        temp_index = i
    elif (recipients.loc[temp_index][3] == temp_val) and (r[3] != 'SI_MAIL_ADDRESSES') and (r[3] != 'SI_MAIL_CC'):
        r[3] = temp_val

recipients = recipients.iloc[:,[3,4,5]]

# Change columns names
recipients = recipients.rename(columns={recipients.columns[0]: 'recipient_type',
                                        recipients.columns[1]: 'si_total',
                                        recipients.columns[2]: 'recipients'}).reset_index(drop=True)
recipients.head(40)

       recipient_type  si_total          recipients
0                 NaN       NaN                 NaN
1                 NaN       NaN                 NaN
2                 NaN       NaN                 NaN
3                 NaN       NaN                 NaN
4                 NaN       NaN                 NaN
5                 NaN       NaN                 NaN
6                 NaN       NaN                 NaN
7                 NaN       NaN                 NaN
8                 NaN       NaN                 NaN
9                 NaN       NaN                 NaN
10                NaN       NaN                 NaN
11                NaN       NaN                 NaN
12                NaN       NaN                 NaN
13  SI_MAIL_ADDRESSES  SI_TOTAL                   1
14  SI_MAIL_ADDRESSES         1  Email1@example.org
15         SI_MAIL_CC  SI_TOTAL                   0
16        SI_MAIL_BCC  SI_TOTAL                   0
17        SI_MAIL_BCC         1        SI_MIME_TYPE
18        SI_MAIL_BCC       NaN       SI_EMBED_NAME
19        SI_MAIL_BCC       NaN                 NaN
20        SI_MAIL_BCC       NaN                 NaN
21        SI_MAIL_BCC       NaN                 NaN
22        SI_MAIL_BCC       NaN                 NaN
23        SI_MAIL_BCC       NaN                 NaN
24        SI_MAIL_BCC       NaN                 NaN
25        SI_MAIL_BCC       NaN                 NaN
26        SI_MAIL_BCC       NaN                 NaN
27  SI_MAIL_ADDRESSES  SI_TOTAL                   1
28  SI_MAIL_ADDRESSES         1  Email1@example.org
29         SI_MAIL_CC  SI_TOTAL                   0
30        SI_MAIL_BCC  SI_TOTAL                   0
31        SI_MAIL_BCC         1        SI_MIME_TYPE
32        SI_MAIL_BCC       NaN       SI_EMBED_NAME
33        SI_MAIL_BCC       NaN                 NaN
34        SI_MAIL_BCC       NaN                 NaN
35        SI_MAIL_BCC       NaN                 NaN
36        SI_MAIL_BCC       NaN                 NaN
37        SI_MAIL_BCC       NaN                 NaN
38        SI_MAIL_BCC       NaN                 NaN
39        SI_MAIL_BCC       NaN                 NaN

In the query builder, where there are multiple recipients, somtimes there are blanks where there should be an email. The code below will check if there are any missing emails.
        
The code will check the **SI_TOTAL** and if there is a missing email it will replace the null (**Nan**) value with a blank

**Example**
* SI_TOTAL: 3
    1. email
    2. email
    3. NaN

In [45]:
# Check for any possible missing emails
for i, r in recipients.iterrows():
    
    # Check SI_MAIL_ADDRESSES
    if (r['recipient_type'] == 'SI_MAIL_ADDRESSES') and (type(r['si_total']) == int) and (r['si_total'] >= 1):
        if pd.isna(r['recipients']):
            r['recipients'] = ''
            
    # Check SI_MAIL_CC
    if (r['recipient_type'] == 'SI_MAIL_CC') and (type(r['si_total']) == int) and (r['si_total'] >= 1):
        if pd.isna(r['recipients']):
            r['recipients'] = ''
            
    # Check SI_MAIL_BCC
    if (r['recipient_type'] == 'SI_MAIL_BCC') and (type(r['si_total']) == int) and (r['si_total'] >= 1):
        if pd.isna(r['recipients']):
            r['recipients'] = ''
                
# Filter the the column to contain only emails and possible missing emails
recipients = recipients[(recipients['recipients'].str.contains('@', flags=re.I, na=False, regex=True)) |
                        (recipients['recipients'] == '')].reset_index(drop=True)
recipients.iloc[49:62]

       recipient_type si_total          recipients
49  SI_MAIL_ADDRESSES        1  Email1@example.org
50  SI_MAIL_ADDRESSES        1  Email1@example.org
51  SI_MAIL_ADDRESSES        1  Email1@example.org
52  SI_MAIL_ADDRESSES        1  Email1@example.org
53  SI_MAIL_ADDRESSES        2  Email2@example.org
54  SI_MAIL_ADDRESSES        1  Email1@example.org
55  SI_MAIL_ADDRESSES        2  Email2@example.org
56         SI_MAIL_CC        1  Email1@example.org
57  SI_MAIL_ADDRESSES        1  Email1@example.org
58  SI_MAIL_ADDRESSES        2  Email2@example.org
59  SI_MAIL_ADDRESSES        3  Email3@example.org
60         SI_MAIL_CC        1  Email1@example.org
61         SI_MAIL_CC        2  Email2@example.org

Now that each recipient type is next to each recipient the emails can now be sorted to each report. The logic behind this is every email has to have recipients in the **SI_MAIL_ADDRESSES** category.

**Example:**

|Subject:|Email Subject|
|---|---------|
|To:|email1@example.com, email2@example.com, email3@example.com|

This example would look like this in the **recipients table**

|Recipient Type   |SI_TOTAL|Recipient |
|-----------------|--------|----------|
|SI_MAIL_ADDRESSES|1       |email1@example.com    |
|SI_MAIL_ADDRESSES|2       |email2@example.com    |                
|SI_MAIL_ADDRESSES|3       |email3@example.com    |

Sometimes there will be recipients that are CC'd or BCC'd

**Example:**

|Subject:|Email Subject|
|---|---------|
|To:|email1@example.com, email2@example.com, email3@example.com|
|CC:|email1@example.com, email2@example.com|
|BCC:|email1@example.com, email2@example.com|

This example would look like this in the **recipients table**


|Recipient Type   |SI_TOTAL|Recipient |
|-----------------|--------|----------|
|SI_MAIL_ADDRESSES|1       |email1@example.com    |
|SI_MAIL_ADDRESSES|2       |email2@example.com    |                
|SI_MAIL_ADDRESSES|3       |email3@example.com    |
|SI_MAIL_CC       |1       |email1@example.com    |
|SI_MAIL_CC       |2       |email2@example.com    |
|SI_MAIL_BCC       |1       |email1@example.com    |
|SI_MAIL_BCC       |2       |email2@example.com    |

If a recipient in the **SI_MAIL_CC** or/and **SI_MAIL_BCC** category follows the **SI_MAIL_ADDRESSES** category, it will be sorted into the same email. The code below will sort each email into its respective category.

In [50]:
# index counters for each recipient type
recipient_index = 0

for i, r in recipients.iterrows():
    
    if r['si_total'] == 1:
        if r['recipient_type'] == 'SI_MAIL_ADDRESSES':
            querybuilder_data.at[recipient_index, 'SI_MAIL_ADDRESSES'] = r['recipients']
            recipient_index += 1
        if r['recipient_type'] == 'SI_MAIL_CC':
            querybuilder_data.at[recipient_index - 1, 'SI_MAIL_CC'] = r['recipients']
        if r['recipient_type'] == 'SI_MAIL_BCC':
            querybuilder_data.at[recipient_index - 1, 'SI_MAIL_BCC'] = r['recipients']
    else:
        if r['recipient_type'] == 'SI_MAIL_ADDRESSES':
            querybuilder_data.at[recipient_index - 1, 'SI_MAIL_ADDRESSES'] = querybuilder_data.at[recipient_index - 1, 'SI_MAIL_ADDRESSES'] + ', ' + r['recipients']
        if r['recipient_type'] == 'SI_MAIL_CC':
            querybuilder_data.at[recipient_index - 1, 'SI_MAIL_CC'] = querybuilder_data.at[recipient_index - 1, 'SI_MAIL_CC'] + ', ' + r['recipients']
        if r['recipient_type'] == 'SI_MAIL_BCC':
            querybuilder_data.at[recipient_index - 1, 'SI_MAIL_BCC'] = querybuilder_data.at[recipient_index - 1, 'SI_MAIL_BCC'] + ', ' + r['recipients']
            
querybuilder_data.iloc[27:39]

,SI_NAME,SI_DESCRIPTION,SI_MAIL_SUBJECT,SI_MAIL_ADDRESSES,SI_MAIL_CC,SI_MAIL_BCC,SI_MAIL_MESSAGE
27,620 Tx- Cancel NoShow Detail shows srv,weekly for Evonne Young,%SI_NAME%,Email1@example.org,NaN,NaN,NaN
28,603 Tx- Cancel NoShow Detail shows srv,weekly for Cindy Griffin,%SI_NAME%,Email1@example.org,NaN,NaN,NaN
29,560 Tx- Cancel NoShow Detail shows srv,weekly for Ridgill Mims,%SI_NAME%,Email1@example.org,NaN,NaN,NaN
30,539 Tx- Cancel NoShow Detail shows srv,weekly for Priscilla Morrison,%SI_NAME%,Email1@example.org,NaN,NaN,NaN
31,376 Tx- Cancel NoShow Detail shows srv,automatically generated for Becky Black,%SI_NAME%,Email1@example.org,NaN,NaN,NaN
32,EOC - Self-Pay Balances for Clients on DHEC De...,NaN,monthly - DHEC death report,"Email1@example.org, Email2@example.org",NaN,NaN,NaN
33,noshow cfield new 7-19-19,new no show no onit daily for front staff,%SI_NAME%,"Email1@example.org, Email2@example.org",Email1@example.org,NaN,NaN
34,Tx-Direct Services x Locat x Serv1 v2,"Monthly for Christian, OM",Monthly - Tx Direct Serv x Loc x Serv1,"Email1@example.org, Email2@example.org, Email3...","Email1@example.org, Email2@example.org",NaN,NaN
35,640 Tx- Cancel NoShow Detail w srv v3,weekly for Anna Paul,%SI_NAME%,Email1@example.org,NaN,NaN,NaN
36,709 Tx- Cancel NoShow Detail shows srv,weekly for Miranda Roberts,%SI_NAME%,Email1@example.org,NaN,NaN,NaN
37,staff registry,monthly for Teresa C,%SI_NAME%,Email1@example.org,NaN,Email1@example.org,NaN
38,staff registry with non-billable,monthly for Teresa C,%SI_NAME%,Email1@example.org,NaN,Email1@example.org,NaN

In [52]:
print('Number of rows: ', querybuilder_data.shape[0])

Number of rows:  109

##### There are still 109 rows corresponding to the 109 different reports that were counted at the beginning of the project. This means that the emails have been sorted correctly.

### SI_MAIL_MESSAGE

Now that the recipients are sorted by the correct reports the body of each email now can be sorted. The body of the email is anywhere in **col4** where **SI_MAIL_MESSAGE** is listed. The body will be at the same index in **col5**.

In [53]:
querybuilder_data['SI_MAIL_MESSAGE'] = qb[qb.iloc[:,3] == 'SI_MAIL_MESSAGE'].iloc[:,4].reset_index(drop=True)
querybuilder_data.head(10)

,SI_NAME,SI_DESCRIPTION,SI_MAIL_SUBJECT,SI_MAIL_ADDRESSES,SI_MAIL_CC,SI_MAIL_BCC,SI_MAIL_MESSAGE
0,non-english x active,monthly for Teresa C,%SI_NAME%,Email1@example.org,NaN,NaN,added 1/4/19 monthly for Teresa C
1,CLT - Child Caseload,Monthly for Kathy,Monthly - Child Caseload,Email1@example.org,NaN,NaN,Automatically generated
2,CRCF- Client Roster by CRCF with Addresses,"Monthly for Christian, Becky Black",Monthly - CRCF by CRCF,"Email1@example.org, Email2@example.org",NaN,NaN,Automatically generated
3,Crosstab - Advoc & SvcAbbrev x month Dillon v2,Monthly for Shawna,Monthly - xTab x Advoc & Svc abbr - Dillon,Email1@example.org,NaN,NaN,Automatically generated
4,Tx - 05 Transactions by Advoc 1 v2,5th of Month for Roberta,5th of Month - 05 Trans by Advoc 1,Email1@example.org,NaN,NaN,automatically generated updated 7/11/18 to rep...
5,Tx- H056 H057 H058 H059 FY 18,weekly on Fridays for Teresa C,%SI_NAME%,Email1@example.org,NaN,NaN,fixed migration schedule 3/18/19
6,"MCO in H003, 004, 005 w names FY19",weekly on Fridays for Teresa C,%SI_NAME%,Email1@example.org,NaN,NaN,fixed migration schedule 3/18/19
7,Clt - FollowUp Consent Labels v2,Monthly for Kaylah,Monthly - Clt Follow Up Consent Labels,Email1@example.org,NaN,NaN,Automatically generated
8,Clt - Followup Consent Y's only v3,Monthly for Kaylah,Monthly - Followup Consent,Email1@example.org,NaN,NaN,Automatically generated
9,Clt - Active Clients w SC Prime,Monthly for Roberta,monthly - Act Cli w SC Prime,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated updated 7/11/18 to rep...

# Final Results

In [54]:
querybuilder_data

,SI_NAME,SI_DESCRIPTION,SI_MAIL_SUBJECT,SI_MAIL_ADDRESSES,SI_MAIL_CC,SI_MAIL_BCC,SI_MAIL_MESSAGE
0,non-english x active,monthly for Teresa C,%SI_NAME%,Email1@example.org,NaN,NaN,added 1/4/19 monthly for Teresa C
1,CLT - Child Caseload,Monthly for Kathy,Monthly - Child Caseload,Email1@example.org,NaN,NaN,Automatically generated
2,CRCF- Client Roster by CRCF with Addresses,"Monthly for Christian, Becky Black",Monthly - CRCF by CRCF,"Email1@example.org, Email2@example.org",NaN,NaN,Automatically generated
3,Crosstab - Advoc & SvcAbbrev x month Dillon v2,Monthly for Shawna,Monthly - xTab x Advoc & Svc abbr - Dillon,Email1@example.org,NaN,NaN,Automatically generated
4,Tx - 05 Transactions by Advoc 1 v2,5th of Month for Roberta,5th of Month - 05 Trans by Advoc 1,Email1@example.org,NaN,NaN,automatically generated updated 7/11/18 to rep...
5,Tx- H056 H057 H058 H059 FY 18,weekly on Fridays for Teresa C,%SI_NAME%,Email1@example.org,NaN,NaN,fixed migration schedule 3/18/19
6,"MCO in H003, 004, 005 w names FY19",weekly on Fridays for Teresa C,%SI_NAME%,Email1@example.org,NaN,NaN,fixed migration schedule 3/18/19
7,Clt - FollowUp Consent Labels v2,Monthly for Kaylah,Monthly - Clt Follow Up Consent Labels,Email1@example.org,NaN,NaN,Automatically generated
8,Clt - Followup Consent Y's only v3,Monthly for Kaylah,Monthly - Followup Consent,Email1@example.org,NaN,NaN,Automatically generated
9,Clt - Active Clients w SC Prime,Monthly for Roberta,monthly - Act Cli w SC Prime,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated updated 7/11/18 to rep...
10,Clt - Active Cases with 70 or 71,2 Weeks for OM,Twice Monthly - Clt Active Cases w 70 or 71,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
11,Clt - Active Cases with 70 or 71,2 Weeks for OM,Twice Monthly - Clt Active Cases w 70 or 71,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
12,Clt - Discharged Clients by Location v2,"Monthly for Christian, OM",Monthly - Discharged Clts x Loc,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
13,CLT - No PMA master list- w Mcaid numbers,Monthly for OM,Monthly - No PMA w Mcaid numbers,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
14,CRCF - Client Alpha Roster by CSMG,"Monthly for Christian, OM, Becky Black",Monthly - CRCF Roster by CSMG,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
15,Clt- Mcare#s with ABN dates v2,Monthly for OM,Monthly - Mcare#s w/ ABN dates,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
16,Tx- Cancel NoShow Detail shows srv v2,"Monthly for Christian, Michael",Monthly - Cancel No Show Detail w/ srv,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
17,579 Tx- Cancel NoShow Detail w srv v3,weekly for Eunece Bell,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
18,Crosstab - Advoc & SvcAbbrev x month Ches v2,Monthly for Vivian,Monthly - xTab Advoc & Svc abbr - Ches,Email1@example.org,NaN,NaN,automatically generated
19,696 Tx- Cancel NoShow Detail shows srv,weekly for Samantha McKenzie,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
20,687 Tx- Cancel NoShow Detail shows srv,weekly for Kenya Frazier,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
21,679 Tx- Cancel NoShow Detail shows srv,weekly for Marsha Jackson,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
22,675 Tx- Cancel NoShow Detail shows srv,weekly for Quaneaka Reed,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
23,665 Tx- Cancel NoShow Detail shows srv,weekly Tabitha Hennagan,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
24,650 Tx- Cancel NoShow Detail shows srv,weekly for Michael Stolarik,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
25,651 Tx- Cancel NoShow Detail shows srv,weekly for Eli Rinehart,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
26,623 Tx- Cancel NoShow Detail shows srv,weekly for Sumner Garland,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
27,620 Tx- Cancel NoShow Detail shows srv,weekly for Evonne Young,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
28,603 Tx- Cancel NoShow Detail shows srv,weekly for Cindy Griffin,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
29,560 Tx- Cancel NoShow Detail shows srv,weekly for Ridgill Mims,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
30,539 Tx- Cancel NoShow Detail shows srv,weekly for Priscilla Morrison,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
31,376 Tx- Cancel NoShow Detail shows srv,automatically generated for Becky Black,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
32,EOC - Self-Pay Balances for Clients on DHEC De...,NaN,monthly - DHEC death report,"Email1@example.org, Email2@example.org",NaN,NaN,automatically generated
33,noshow cfield new 7-19-19,new no show no onit daily for front staff,%SI_NAME%,"Email1@example.org, Email2@example.org",Email1@example.org,NaN,automatically generated
34,Tx-Direct Services x Locat x Serv1 v2,"Monthly for Christian, OM",Monthly - Tx Direct Serv x Loc x Serv1,"Email1@example.org, Email2@example.org, Email3...","Email1@example.org, Email2@example.org",NaN,Automatically generated
35,640 Tx- Cancel NoShow Detail w srv v3,weekly for Anna Paul,%SI_NAME%,Email1@example.org,NaN,NaN,NaN
36,709 Tx- Cancel NoShow Detail shows srv,weekly for Miranda Roberts,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
37,staff registry,monthly for Teresa C,%SI_NAME%,Email1@example.org,NaN,Email1@example.org,automatically generated
38,staff registry with non-billable,monthly for Teresa C,%SI_NAME%,Email1@example.org,NaN,Email1@example.org,automatically generated
39,Contacts vs Undup Contacts x Srv x age x prev mo,monthly for Crystal,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated
40,694 Notes Signed Status,6th of month for Bertha,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated on 6th of each month
41,701 Notes Signed Status,6th of month for Madyson,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated on 6th of each month
42,Tx- Cancel NoShow for doctors v3,"monthly for Teresa C, Dr. Sachdev",%SI_NAME%,"Email1@example.org, Email2@example.org",NaN,NaN,automatically generated
43,710 Tx- Cancel NoShow Detail shows srv,weekly for Beverly Mason,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated weekly no-show report
44,Clt - Financial Eval by Locat Q1,Quarterly for DE,Quarterly - Financial Eval by Locat,"Email1@example.org, Email2@example.org, Email3...",NaN,Email1@example.org,automatically generated
45,Clt - Financial Eval by Locat Q2,Quarterly for DE,Quarterly - Financial Eval by Locat,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
46,Clt - Financial Eval by Locat Q3,Quarterly for DE,Quarterly - Financial Eval by Locat,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
47,Clt - Financial Eval by Locat Q4,Quarterly for DE,Quarterly - Financial Eval by Locat,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
48,CLT - MCAID active by location,Monthly for DE,6th of month - Clt Mcaid Active x Loc,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
49,CLT - NO MCAID active by location,Monthly for DE,Monthly - Clt No Mcaid Active x Loc,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
50,Clt- MCare Admissions v2,"Monthly for OM, Teresa, Becky, Cathy",Monthly - MCare Admissions,"Email1@example.org, Email2@example.org, Email3...","Email1@example.org, Email2@example.org, Email3...",NaN,automatically generated
51,Tx- Clt Missing Srvcs H003 H004 H005 not admit...,"Monthly for OM, DE","Monthly - Clts Missing Srvs H003,4,5 not admit...","Email1@example.org, Email2@example.org, Email3...","Email1@example.org, Email2@example.org, Email3...",NaN,automatically generated
52,Clt - Active Caseload with Addresses by Loc,Monthly for,Monthly - Active Caseload w/ Address,"Email1@example.org, Email2@example.org, Email3...","Email1@example.org, Email2@example.org, Email3...",NaN,automatically generated
53,Lookup-Insurance Code Listing v2,Quarterly for Roberta,Quarterly - Ins Code Listing,"Email1@example.org, Email2@example.org, Email3...","Email1@example.org, Email2@example.org, Email3...",NaN,Automatically generated
54,Clt - Last Service 45 days v2 - Bville,"Bi-Monthly for Teresa C, OMs",%SI_NAME%,Email1@example.org,Email1@example.org,Email1@example.org,automatically generated weekly
55,Clt - Last Service 45 days v2 - C'field,"Bi-Monthly for Teresa C, OMs",%SI_NAME%,Email1@example.org,Email1@example.org,Email1@example.org,automatically generated weekly
56,Clt - Last Service 45 days v2 - Dillon,"Bi-Monthly for Teresa C, OMs",%SI_NAME%,Email1@example.org,Email1@example.org,Email1@example.org,automatically generated weekly
57,586 Notes Signed Status,6th of month for Aimee,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated on 6th of each month
58,Self Pay Bills v5,every other 10th of month for Felicia,self pay monthly 10th of mo,Email1@example.org,Email1@example.org,Email1@example.org,automatically generated
59,CLT - Child Caseload for Voter Registration Form,"Monthly for Teresa C, Michael, DE",monthly - age 18 + or - 30 days for voter regi...,"Email1@example.org, Email2@example.org, Email3...","Email1@example.org, Email2@example.org, Email3...",NaN,automatically generated
60,Clt - missing clinical info v2,"Monthly for Michael, OM, MRC, Teresa",Clt - missing clinical info v2,"Email1@example.org, Email2@example.org, Email3...",NaN,Email1@example.org,now including clients with missing physician a...
61,Engagement 1.2 - Caseload x CSMG - wi last SRV...,"monthly for Christian, Michael, OM",%SI_NAME%,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
62,Adm - Bed Days x 10th of Mth,"5th of Month for Teresa Curry, Michael",%SI_NAME%,Email1@example.org,NaN,Email1@example.org,NaN
63,Adm - Hosp Admissions for the last month v2,"5th of month for Teresa Curry, Michael",%SI_NAME%,Email1@example.org,NaN,Email1@example.org,NaN
64,Clt - Active Caseload - Last Srv1 no H052,"Detail report of active clients with cid, name...",monthly - Last PMA > 180 and missing H052,Email1@example.org,NaN,NaN,automatically generated
65,Clt - Active Caseload - Last Srv1 PMA,"Detail report of active clients with cid, name...",monthly - Active Caseload Last Srv > 180,Email1@example.org,NaN,Email1@example.org,automatically generated
66,Clt - Active Caseload - Summary v2,NaN,Monthly - CLT - Active Caseload - Summary,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
67,Clt - Active Cases to Review for Closing - No ...,"Monthly for Christian, OM",Monthly - Act Cases to Review for Close - No Serv,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
68,Clt - Caseload Report x Case Manager x CMHC - ...,Bi-Monthly for Teresa C,%SI_NAME%,"Email1@example.org, Email2@example.org",NaN,Email1@example.org,automatically generated bi-monthly
69,Clt - Caseload Report x Case Manager x CMHC - ...,Bi-Monthly for Teresa C,%SI_NAME%,"Email1@example.org, Email2@example.org",NaN,Email1@example.org,automatically generated bi-monthly
70,Clt No PMA over 60 days from adm dat v3,Detail List of all clients who have received n...,Bi-Monthly - no PMA over 60 days from adm date,"Email1@example.org, Email2@example.org, Email3...",Email1@example.org,NaN,automatically generated
71,Clt No PMA over 60 days from adm dat v3,Detail List of all clients who have received n...,Bi-Monthly - no PMA over 60 days from adm date,"Email1@example.org, Email2@example.org, Email3...",Email1@example.org,NaN,automatically generated
72,Clt-New Admissions,"monthly for Christian, Michael",monthly - Clt - New Admissions,Email1@example.org,NaN,Email1@example.org,automatically generated
73,Clt-weekly LOC,"weekly for Teresa L, OM",%SI_NAME%,"Email1@example.org, Email2@example.org, Email3...","Email1@example.org, Email2@example.org",NaN,automatically generated
74,Crosstab - Advoc & SvcAbbrev x month Benn v2,"Monthly for Michael, Kathy",Monthly - xTab x Advoc & Srv abbr - Benn,Email1@example.org,NaN,NaN,Automatically generated
75,Crosstab - Advoc & SvcAbbrev x monthrpt v2,"Monthly for Christian, Michael, Teresa",Montlhy - xTab Advoc & Svc abbr,Email1@example.org,NaN,NaN,Automatically generated
76,discharge x death,monthly for Michael,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated 1st of each month
77,DLA - DLA-20 Change Scores - Active Clients,"Monthly for Christian, Michael, OM, Teresa C",Monthly - DLA change scores summ act cli v2,"Email1@example.org, Email2@example.org, Email3...",Email1@example.org,NaN,automatically generated
78,DLA - DLA-20 Summary by Locat over 5 Bville,Monthly for Michael and OMs,monthly - DLA-20 over 5 Bville,"Email1@example.org, Email2@example.org",NaN,Email1@example.org,automatically generated
79,DLA - DLA-20 Summary by Locat over 5 Cfield,monthly for Michael and OMs,DLA-20 Summ by locat over 5 - cfield,"Email1@example.org, Email2@example.org",NaN,Email1@example.org,automatically generated
80,DLA - DLA-20 Summary by Locat over 5 Dillon,monthly for Michael and OMs,DLA-20 Summ by locat over 5 - Dillon,"Email1@example.org, Email2@example.org",NaN,Email1@example.org,automatically generated
81,Doctor Cancel NoShow Bville,"monthly for Michael, Teresa M L",bville doctor no-show prev week,Email1@example.org,Email1@example.org,NaN,automatically generated
82,Doctor Cancel NoShow Cfield,Detail of each Clinician's Cancel/No Show Appt...,cfield doctor no-show prev week,Email1@example.org,Email1@example.org,NaN,automatically generated
83,Doctor Cancel NoShow Dillon,Detail of each Clinician's Cancel/No Show Appt...,dillon weekly doc noshow prev week,Email1@example.org,Email1@example.org,NaN,automatically generated
84,inpat-Current Inpatients - Monthly,Monthly for Michael,monthly - current inpatients,"Email1@example.org, Email2@example.org, Email3...","Email1@example.org, Email2@example.org",NaN,Automatically generated monthly
85,Referral to Appointment C20 Report v2,Monthly for Christian,Monthly - Referral to Appt C20,Email1@example.org,NaN,NaN,Automatically generated
86,Sched - Schedules at a Glance - Week,Appointments and Available Times from Schedule...,%SI_NAME%,"Email1@example.org, Email2@example.org, Email3...","Email1@example.org, Email2@example.org",NaN,new weekly schedule report
87,Tx - 07 Transactions by Advoc 1 v2,Monthly for Roberta & OM & Secretaries,Monthly - 07 Trans by Advoc 1,"Email1@example.org, Email2@example.org, Email3...",Email1@example.org,NaN,automatically generated
88,Tx - Billable x Loc x Off x Adv x Payor v3,"Monthly for Teresa Curry, Michael, Crystal",%SI_NAME%,"Email1@example.org, Email2@example.org",NaN,NaN,automatically generated - monthly
89,Tx - Bus Days from Adm to 1st Tx Svc,"monthly for Christian, Michael, Teresa C, OM",monthly - %SI_NAME%,"Email1@example.org, Email2@example.org, Email3...",Email1@example.org,Email1@example.org,automatically generated
90,Tx- Cancel NoShow by tx-locat summary only for...,"Monthly for Christian, Michael",Monthly - Tx Cancel No Show local summary for ...,"Email1@example.org,",NaN,NaN,Automatically generated
91,Tx- H052 Transactions for TriCounty with date ...,Monthly for Michael,monthly - TX H052 Trans w distinct ct,Email1@example.org,NaN,NaN,automatically generated
92,Tx-Direct Services x Office x Locat x Adult v2,"Monthly for Christian, Michael",Monthly - Tx Direct Serv x Off x Loc x Adult,Email1@example.org,NaN,NaN,Automatically generated
93,Tx-Direct Services x Office x Locat x Children v2,"Monthly for Christian, Michael",Monthly - Tx Direct Serv x Off x Loc x Children,Email1@example.org,NaN,NaN,Automatically generated
94,unassigned csmg,"Monthly for Michael, Teresa",monthly - unassigned csgm,Email1@example.org,NaN,NaN,automatically generated
95,Clt No PMA,monthly for Christian,monthly - clt - no PMA no dates,Email1@example.org,NaN,NaN,automatically generated
96,CLT- Cases for Review - Exclude PMA by CSMG v2,Monthly for OM,Monthly - CLT Cases for Review Excl PMA by CSMG,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
97,Sched - Cancel - No-Show Appointments x Locat ...,"Monthly for Christian, Michael, OM",monthly - cancel no show summary x advoc,"Email1@example.org, Email2@example.org, Email3...",Email1@example.org,NaN,automatically generated; sorted by locat
98,Sched - Cancel - No-Show Appointments x Csmg w...,"Monthly for Christian, Michael, OM",monthly - cancel no show x advoc x summary,Email1@example.org,NaN,Email1@example.org,automatically generated; not sorted by locat
99,ICT Tx - Direct Services x Clinician x prev mo,"Monthly for Aimee, TML",%SI_NAME%,Email1@example.org,Email1@example.org,Email1@example.org,automatically generated 8th day of each month ...
100,Tx - Direct Services with SPD Hrs - Summary - ...,"Weekly for Teresa C, Dr. Sachdev, Teresa L, Cr...",%SI_NAME%,"Email1@example.org, Email2@example.org, Email3...",NaN,Email1@example.org,automatically generated weekly updated for 803...
101,ICT note signed status CANNED prev month,monthly for Aimee M,%SI_NAME%,Email1@example.org,NaN,Email1@example.org,automatically generated 8th day of each month ...
102,ICT - Direct Services with SPD Hrs - Summary -...,monthly for Aimee M,%SI_NAME%,Email1@example.org,NaN,NaN,automatically generated 8th day of each month ...
103,Clt - Active Clients w Insurance by Locat v2,"Quarterly for Roberta, Secretaries",Quarterly - Act Clients w Ins by Loc,"Email1@example.org, Email2@example.org, Email3...",Email1@example.org,NaN,automatically generated
104,Clt - Active Clients with Payor Sources,Monthly for DE,Monthly - Active Clts with payor sources,"Email1@example.org, Email2@example.org, Email3...",NaN,NaN,automatically generated
105,noshow bville new 7-19-19,new no show no onit daily for front staff,%SI_NAME%,Email1@example.org,Email1@example.org,NaN,automatically generated
106,Clt - Active Clients w MCAID HMO's,Monthly for DE,monthly - Act Cli w MCAID HMO,"Email1@example.org, Email2@example.org, Email3...",NaN,Email1@example.org,automatically generated
107,noshow dillon new 7-19-19,new no show no onit daily for front staff,%SI_NAME%,"Email1@example.org, Email2@example.org",Email1@example.org,NaN,automatically generated
108,EMR- Unsigned Tickets v2,Monthly for OM,Daily - EMR Unsigned Tickets,"Email1@example.org, Email2@example.org, Email3...","Email1@example.org, Email2@example.org",Email1@example.org,automatically generated

### Store DataFrame into Excel

In [55]:
querybuilder_data.to_excel('QueryBuilder_cleaned.xlsx', index=False)